{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Confirm{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset Completed</h3>
            <hr>
            <div><iframe src="https://cdn.dribbble.com/users/891352/screenshots/2154221/download_dot_bounce__success__dribbble.gif" width="900" height="900" frameBorder="0" class="giphy-embed" allowfullscreen></iframe> </div>
        </div>
    </div>
</div>
{% endblock main-content %}